@import '@fontsource/manrope';
@import '@fontsource/jetbrains-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	/* font */
	--font-sans: 'Manrope', sans-serif;
	--font-mono: 'JetBrains Mono', monospace;
}

.prose :is(h2, h3, h4, h5, h6) {
	margin-top: 3rem;
	margin-bottom: 1rem;
}

.prose p:not(:is(h2, h3, h4, h5, h6) + p) {
	margin-top: 2rem;
}

.prose :is(ul, ol) {
	list-style-type: '🔥';
	padding-left: 1.5rem;
}

.prose :is(ul, ol) li {
	margin-block: 0.5rem;
	padding-inline-start: 0.5rem;
}

.prose pre {
	max-inline-size: 100%;
	padding: 1.5rem 2rem;
	border-radius: 8px;
	tab-size: 2;
}
